* {
    margin: 0;
    box-sizing: border-box;
}

label {
    margin-right: 1rem;
}

input {
    margin: 0 0.2rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #686868
}

button {
    width: 1.9rem;
    height: 1.9rem;
    background-color: rgb(72, 72, 232);
    border: none;
    border-radius: 0.2rem;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.2rem #686868
}

button:hover {
    background-color: rgb(65, 65, 190);
}

#submit {
    width: 7rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0.3rem 0;

}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
}

.item {
    flex-direction: row;
}

.align-start {
    align-items: flex-start;
}

#max-points {
    visibility: hidden;
    color: red;
}

#attribute-table {
    width: 50%;
    visibility: hidden;
}

/* table styling */
table td {
    padding: 15px;
    font-size: 1.2rem;
}

table tr {
    background-color: #d8e0e8;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table td:nth-child(even) {
    font-weight: bold;
}